<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data').DataTable( {
                "rowCallback": function( nRow, aData, index) {
                   {{ color_data }}
                }
          });
        });

        $(document).ready(function() {
            $('#avf_data').DataTable( {
                "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                   {{ color_avf_data }}
                },
                responsive: {
                            details: {
                                display: $.fn.dataTable.Responsive.display.modal( {
                                    header: function ( row ) {
                                        var data = row.data();
					console.log(data)
                                        return 'Details for '+data[0]+' '+data[1];
                                    }
                                } ),
                                // renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                                //    tableClass: 'avf_data_class'
                                // } )
                            }
                },
		columnDefs: [
			{
				targets: [-2],
				visible: false,
			},
                       {
				targets: [-1],
				className: "all",
			},
                        {
				targets: [-3],
				className: "all",
			},
                        {
				targets: [-4],
				className: "all",
			},

		],
          });
        });
    </script>
    <style>
    td.failed {
  background-color: red;
}
td.running {
  background-color: green;
}
    </style>
</head>
<h1 style='font-family:helvetical;'>Raw Data Table</h1>
<body>

        {{data | safe}}

<h1 style='font-family:helvetical;'>Attribute Value Frequency Configurations</h1>
<p>
{% if parameter_dict %}
    <ul>
        {% for key, var in parameter_dict.items() %}
            {% if key == "error_messages" %}
                {% for error_message in var %}
                    <li style="color:red;font-family:helvetical;">{{ error_message }}</li>
                {% endfor %}
            {% endif %}
       {% endfor %}
   </ul>
{% endif %}
</p>

<form method="POST", action="">
    {{ form.hidden_tag() }}
    <table>
    <tr>
        <td align="center" style="font-weight:bold"> Variable Name </td>
        <td align="center" style="font-weight:bold"> Variable Type </td>
        <td align="center" style="font-weight:bold"> Bin Method </td>
        <td align="center" style="font-weight:bold"> Number of Bins </td>
	<td align="center" style="font-weight:bold"> Include Variable </td>
	<td align="center" style="font-weight:bold"> Normalize </td>
    </tr>
    {% for entry in form.variables %}
    <tr>
        <td align="right">{{ variables[loop.index0] | capitalize }}</td>
        <td align="center">{{ parameter_dict['var_type'][loop.index0] }}</td>
        <td align="center">{{ entry.bin_method }}</td>
        <td align="center">{{ entry.bin_number }}</td>
        <td align="center">{{ entry.include_var }}</td>
        <td align="center">{{ entry.normalize }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td align="right"> All Variables </td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center">{{ form.all_variables }}</td>

    </table>
    <br>
     <table>
        <tr>
            <td align="right" style="font-weight:bold">AVF Color Method </td>
            <td align="left">{{ form.color_method }}</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:bold"> Red Bin </td>
            <td align="left">{{ form.red_bin }}</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:bold"> Yellow Bin </td>
            <td align="left">{{ form.yellow_bin }}</td>
        </tr>
    </table>
<input type="submit" value="Submit">
        <br>
<h1 style='font-family:helvetical;'>Attribute Value Frequency Table</h1>
        {{avf_data | safe}}
<br>
<h1 style='font-family:helvetical;'>Data Visualization</h1>
<form method="POST", action="">
    {{ dataVisForm.hidden_tag() }}
     <table>
        <tr>
            <td align="right" style="font-weight:bold">Column</td>
            <td align="left">{{ dataVisForm.variable}}</td>
        </tr>
     </table>

<input type="submit" value="Submit">
</form>

{{ dataVisScript | safe }}
{{ dataVisDiv | safe }}

<br>

<h1 style='font-family:helvetical;'>Performance Evaluation</h1>

<br>

<table>
    <tr>
        <td align="center" style="font-weight:bold"> AVF Method </td>
        <td align="left" style="font-weight:bold"> {{ form.color_method.data }}</td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Number of Observations </td>
        <td align="left" style="font-weight:bold"> {{ n_obs }}</td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Number of Outliers <td>
        <td align="left" style="font-weight:bold"> {{ n_outliers}} <td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Percent of Outliers <td>
        <td align="left" style="font-weight:bold"> {{ pct_outliers }} <td>
    </tr>
</table>

 <h2 style='font-family:helvetical;'>Confusion Matrix</h2>
<table>
    <tr>
        <td align="center" style="font-weight:bold"> </td>
        <td align="center" style="font-weight:bold"> Predicted Outliers </td>
        <td align="center" style="font-weight:bold"> Predicted Non-Outliers </td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Actual Outliers <td>
        <td align="center" style="font-weight:bold"> TP = {{ tp }} <td>
        <td align="center" style="font-weight:bold"> FN = {{ fn }} <td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Actual Non-Outliers <td>
        <td align="center" style="font-weight:bold"> FP = {{ fp }} <td>
        <td align="center" style="font-weight:bold"> TN = {{ tn }} <td>
    </tr>

</table>

<br>

<table>
    <tr>
        <td align="center" style="font-weight:bold"> Metric </td>
        <td align="left" style="font-weight:bold"> Value </td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Accuracy <td>
        <td align="left" style="font-weight:bold"> {{ acc }} <td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Sensitivity <td>
        <td align="left" style="font-weight:bold"> {{ sens }} <td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Specificity <td>
        <td align="left" style="font-weight:bold"> {{ spec }} <td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold"> Precision <td>
        <td align="left" style="font-weight:bold"> {{ prcsn }} <td>
    </tr>
</table>
 
</body>
</html>
